TEAM LEAD := PARV KANUNGO
 Details of TEAM LEAD:-
         linkdin profile:-https://www.linkedin.com/in/parv-kanungo-a85952237/


whenever we get new ideas realted to design  or related to developnment of our app will discuss over here.

Each and evey one has to upload there day to day work here, with deatils of
DATE:-
WHAT YOU HAVE DONE:-
DID YOU FIND ANY ERRORS:-


----------------xxxxxxxxxxxx-------------------
